body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Segoe UI", Roboto, sans-serif;
  background-color: #f9fafb;
  color: #222;
  margin: 0;
  padding: 1rem;
  height: 100%;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  color: #ffffff;
  background-color: #9a659f;
  text-align: center;
}

h2 {
  font-size: 1.25rem;
  margin-top: 0;
  color: #47284a; /*color de fondo heredado de body*/
}

h3 {
  font-size: 1rem;
}

nav{
  list-style: none;
  display: flex;             
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

nav a{
  flex: 1;                  
  text-align: center; 
  padding: 0.5rem;
  text-decoration: none;
  color: #47284a; /*color de fondo heredado de body*/
}

nav a.active {
  background-color: #d5aed9; /*color heredado de body*/
  font-weight: bold;
  padding: 0.5rem;
}

nav a:hover {
  background-color: #47284a;
  color: #ffffff;
  padding: 0.5rem;
}

img, video {
  border-color:#47284a;
  border-style: double;
}

video {
  max-width: 40%;
  height: auto;
  display: block;
  margin: auto;
}

footer {
  margin-top: 0.5rem;
  bottom: 0;
  width: 100%;
  padding: 0.1rem;
  color: #ffffff;
  background-color: #9a659f;
  text-align: center;
}